body{
    background-color: rgb(96, 133, 255);
    font: normal 15pt Arial ;
}
main{
    text-align: center;
}
header{
    color: white;
    text-align: center;
}
main > section {
    background-color: rgb(243, 243, 243);
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.353) ;
}
input#botao{
    background-color:  rgb(96, 133, 255);
    border-radius: 10px 5px;
    box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.215);

}
#resp{
    font-size: smaller;
}
#msg {
    padding: 10px;

}
img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
footer{
    margin-top: 10px;
    color: white;
    font-style: italic;
}
footer::before{
    list-style-type:'\FE0F';
}